* {
    box-sizing: border-box;
    /* cursor: default; */
}

body {
    background: rgba(18,18,18,1.0);
    color: rgba(248,248,248,1.0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

#techinLogoBigWrapper {
    position: fixed;
    top: 40%;
    width: 100%;
}

#techinLogoBig {
    display: block;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 1;
}

#headerBox {
    background: rgba(48,48,48,1.0);
    border: 3px solid rgba(248,248,248,1.0);
    border-radius: 10px;
    margin: 20px auto 0px auto;
    max-width: 1200px;
    overflow: auto;
    overflow-x: hidden;
    width: 95%
}

#techinLogo {
    float: left;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

#searchJobsForm {
    position: relative;
    text-align: right;
    top: 21px;
}

#jobTitleInput, #jobLocationInput, #jobRadiusInput, #jobSalaryInput {
    background: rgba(18,18,18,1.0);
    border: 2px solid rgba(248,248,248,1.0);
    border-radius: 5px;
    box-shadow: none;
    color: rgba(248,248,248,1.0);
    display: inline-block;
    height: 36px;
    margin-right: 10px;
    outline: none;
}

#jobTitleInput, #jobLocationInput {
    padding-left: 10px;
    padding-right: 10px;
    width: 19%;
}

#jobRadiusInput, #jobSalaryInput {
    padding-left: 5px;
    padding-right: 5px;
    width: 12%;
}

#locationIcon {
    left: -15px;
    margin-left: -26px;
    margin-right: 0px;
    position: relative;
    top: -1px;
    width: 22px;
}

#searchJobsSubmitBtn {
    background: rgba(48,48,48,1.0);
    border: 0;
    height: 36px;
    margin-left: -4px;
    margin-right: 10px;
    outline: none;
    padding: 0;
    position: relative;
    top: -2px;
}

#searchIcon {
    width: 34px;
}

#loading {
    position: fixed;
    top: 40%;
    width: 100%;
}

#loadingIcon {
    display: block;
    margin: 0 auto;
    width: 125px;
}







/* Needs Colors to be checked below (Table design will have colors from our palette... on the to-do list) */








#jobResultsTBLWrapper {
    margin: 150px auto 150px auto;
    width: 95%;
}

#jobResults {
    font-size: 18pt;
    position: relative;
    text-align: center;
    top: 36px;
}

#jobResultsTBL_length, #jobResultsTBL_filter {
    color: rgba(248,248,248,1.0);
}

#jobResultsTBL_length select, #jobResultsTBL_filter input {
    background: rgba(18,18,18,1.0);
    border: 3px solid rgba(248,248,248,1.0);
    border-radius: 10px;
    color: rgba(248,248,248,1.0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    height: 36px;
    outline: none;
    padding-left: 10px;
    width: 225px;
}

#jobResultsTBL_length select {
    margin-left: 10px;
    padding-left: 0px;
    width: 55px;
}

#jobResultsTBL {
    border-radius: 5px;
    border: 3px solid rgba(248,248,248,1.0);
    position: relative;
    top: 20px;
}

#jobResultsTBL thead {
    background: rgba(48,48,48,1.0);
    width: 100%;
}

#jobResultsTBL .odd {
    background: rgba(18,18,18,1.0);
}

#jobResultsTBL .even {
    background: rgba(26,26,26,1.0);
}

#jobResultsTBL_paginate {
    position: relative;
    top: 40px;
}

#jobResultsTBL_paginate a {
    border-radius: 5px;
    border: 2px solid rgb(248,248,248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 700;
}

#applyBTN {
    background: rgba(18,18,18,1.0);
    border: 2px solid rgba(248,248,248,1.0);
    border-radius: 10px;
    box-shadow: none;
    color: rgba(255,255,255,1.0);
    display: inline-block;
    outline: none;
    padding: 5px 8px 5px 8px;
}

#applyBTN:hover {
    border: 2px solid rgba(42,252,156,1.0);
}

.carousel-caption {
    top: 0;
    bottom: auto;
    margin-top: 60px;
    color: whitesmoke;
 }