* {
    box-sizing: border-box;
    /* cursor: default; */
}

body {
    background: rgba(18,18,18,1.0);
    color: rgba(248,248,248,1.0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#headerBox {
    background: rgba(32,32,32,1.0);
    border: 3px solid rgba(248,248,248,1.0);
    border-radius: 10px;
    margin: 20px auto 0px auto;
    max-width: 1200px;
    overflow: auto;
    overflow-x: hidden;
    width: 95%
}

#techinLogo {
    float: left;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

#searchJobsForm {
    position: relative;
    text-align: right;
    top: 21px;
}

#jobTitleInput, #jobLocationInput, #jobRadiusInput, #jobSalaryInput {
    background: rgba(18,18,18,1.0);
    border: 2px solid rgba(248,248,248,1.0);
    border-radius: 5px;
    box-shadow: none;
    color: rgba(248,248,248,1.0);
    display: inline-block;
    height: 36px;
    margin-right: 10px;
    outline: none;
    padding-left: 7px;
    padding-right: 7px;
}

#jobTitleInput, #jobLocationInput {
    width: 19%;
}

#jobRadiusInput, #jobSalaryInput {
    width: 10%;
}

#searchJobsSubmitBtn {
    background: rgba(32,32,32,1.0);
    border: 0;
    height: 36px;
    margin-left: -4px;
    margin-right: 10px;
    outline: none;
    padding: 0;
    position: relative;
    top: -1px;
}

#searchIcon {
    width: 34px;
}







/* Needs Colors to be checked */








#jobResultsTBLWrapper {
    margin: 150px auto 50px auto;
    /* overflow-y: hidden; */
    width: 95%;
}

#jobResults {
    font-size: 18pt;
    position: relative;
    text-align: center;
    top: 36px;
}

#jobResultsTBL_length, #jobResultsTBL_filter {
    color: rgb(240,240,240);
}

#jobResultsTBL_length select, #jobResultsTBL_filter input {
    background: rgb(32, 32, 32);
    border: 3px solid rgba(240,240,240,1.0);
    border-radius: 10px;
    color: rgb(240,240,240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    height: 36px;
    outline: none;
    padding-left: 10px;
    width: 225px;
}

#jobResultsTBL_length select {
    margin-left: 10px;
    padding-left: 0px;
    width: 55px;
}

#jobResultsTBL {
    border-radius: 5px;
    border: 3px solid rgb(240,240,240);
    position: relative;
    top: 20px;
}

#jobResultsTBL thead {
    background: rgb(64,64,64);
    width: 100%;
}

#jobResultsTBL .odd {
    background: rgb(32, 32, 32);
}

#jobResultsTBL .even {
    background: rgb(40, 40, 40);
}

#jobResultsTBL_paginate {
    position: relative;
    top: 40px;
}

#jobResultsTBL_paginate a {
    border-radius: 5px;
    border: 2px solid rgb(240,240,240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 700;
}

.applyBTN {
    background: rgba(18,18,18,1.0);
    border: 2px solid rgba(240,240,240,0.75);
    border-radius: 10px;
    color: rgba(255,255,255,1.0);
    outline: none;
    padding: 9px 10px 8px 10px;
}

.applyBTN:hover {
    border: 2px solid rgba(255,255,255,1.0);
    color: rgba(255,255,255,1.0);
}